
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylePrueba.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>Fashion Style</title>
</head>

<body>


    <%- include('partials/header') %> 
    

    <section class="banner">
        
        <div class="container_banner">

           <div class="slider-home">

            <ul>
              <li id="slide1"><img src="img/slider1.png" alt=""></li>
              <li id="slide2"><img src="img/slider1.png" alt=""></li>
              <li id="slide3"><img src="img/slider1.png" alt=""></li>
              <li id="slide4"><img src="img/slider1.png" alt=""></li>
            </ul>
                  
           </div>  

           <div class="menu-slider">
        
            <ul class="menu-slider-home">
                <li><a href="#slide2"></a></li>
                <li><a href="#slide2"></a></li>
                <li><a href="#slide3"></a></li>
                <li><a href="#slide4"></a></li>
            </ul>
    
        </div>

        </div>

    </section>

    <main>

      <section class="relacionados">

            <h3 class="titulo_home">Nuestros favoritos</h3>
             
        <div class="swiperContainer" >

          <div class="swiper mySwiper">
          <div class="swiper-wrapper">
      
      
            <% productosFavoritos.forEach(productosFavoritos => { %>

              <div class="swiper-slide">
                <a href="/productos/detalle/<%= productosFavoritos.id %>">
                  <img src="/img/<%= productosFavoritos.image %>" alt="">
                  <div class="titulo-producto">
                     <h4><%= productosFavoritos.name %></h4>
                     <h4>$ <%= productosFavoritos.price %></h4>
                  </div>
                </a>  
             </div>

            <% }) %> 
           
           <div class="swiper-pagination"></div> 
          
          </div>
          </div> 
        
        </div>

      </section>

       <section class="colecciones">
        <br>
        <h3 class="titulo_home">Colecciones</h3><br>
        
        <div class="coleccionesItems">
            <div class="itemColeccion">
                <a href="/productos"> <img src="img/anillo_coleccion-01.jpg" alt=""> </a>
            </div>
            <div class="itemColeccion">
                <a href="/productos"><img src="img/collares_coleccion-01.jpg" alt=""> </a>
            </div>
            <div class="itemColeccion">
                <a href="/productos"><img src="img/pulsera_coleccion-01.jpg" alt=""></a>
            </div>
            <div class="itemColeccion">
                <a href="/productos"><img src="img/anillo_coleccion-01.jpg" alt=""></a>
            </div>

        </div>

       </section>


        <section class="envios">
           
          <div class="containerEnvios">
            <i class="fas fa-truck"></i>
           <div id="truck"> 
            <h5>Envios a todo el pais</h5><br>               
            <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $1.199.</p>
           </div>

           
            <i class="fas fa-exchange-alt"></i>
           <div id="cambios"> 
            <h5>Cambios y devoluciones</h5><br>                
            <p>Realizá cambios sin cargo por un año.</p>
           </div>

           
            <i class="fas fa-credit-card"></i>
           <div id="credit">
            <h5>Multiples medios de pago</h5><br>                
            <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés.</p>
           </div>

        </div> 
          
        
        </section>

          
        <section class="mail_container">
          <div class="mail">  

            <i class="fas fa-envelope"></i>
           <div id="cursiva">
            <h3>Sigamos conectados</h3>
            <p>Recibi promociones y noticias antes que nadie:</p>
           </div> 

            
           <div class="formularioMail">
            <form action="/" method="POST">           
            <label for="mail"></label> 
            <input type="email" name="mail" id="mailing" placeholder="Dejanos tu email">
            <br>
            <button type="submit">Enviar</button>

            </form>
           </div>
          </div>
        </section>
           

    </main>
    
    <%- include('partials/footer') %>  

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
         /*   380: {
            slidesPerView: 1,
            spaceBetween: 10,
          },    */
          380: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
      });
    </script>
   

    
</body>

</html>