<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> 
<title>Listado Productos</title>

<body>

    <%- include('partials/header') %>
    
    
    <section class="seccionProductos">
        

      <div class="containerProductos">


          <div class="contenidoProductos">
            
            <h3>Listado de Productos</h3>
            
            <div class="filtroProductos">
              <h4>Filtros:</h4>
            </div>

            <div class="listadoProductos">

            <% productos.forEach(productos => { %>
             
           
                <div class="articuloProductos">
                 
                  <div>
                  <a href="/productos/detalle/<%= productos.id %> "> <img src="/img/<%= productos.image %>" alt=""> </a> 
                  </div>
                   <div class="tituloPrecioProducto"> <!--  -->
                     <h5><%= productos.name %> </h5>
                     <h6><%= productos.price %> </h6>
                   </div> 
                 </div>

            <% }) %>     
            
            </div>
         </div>


      </div>


    </section>



    <%- include('partials/footer') %> 
    
</body>
</html>