<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylePrueba.css">
    <title>New user</title>
</head>
<body>

    <header class="mainHeader">
       
        <div class="logo">
            <img src="/img/Fashion_Logo.png" alt="">
        </div>
        
        <nav>

          <div class="listaMenu">
                <ul>
                    <li>New In</li>
                    <li>Colecciones</li>
                    <li>Lifestyle</li>
                    <li>Sale</li>
                </ul>
          </div>

          
          <div class="iconosHeader">

            <div class="areaBusqueda">
                <div class="formularioSearch">
                    <form action="#" method="post">
                          <label for="busqueda" ></label>
                          <input type="text" name="busqueda" id="busqueda" placeholder="Buscar">
                </div>   
                
                <div class="submit"><i class="fa fa-search"></i></div>                
            </div>
 
            <div class="accesoUsuario">
                <i class="fas fa-user"></i>
            </div>

            <div class="accesoCarrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menuHamburgesa">
                <i class="fas fa-bars"></i>
            </div>

          </div>  

        </nav>
        
    </header>

    <main>
      
        <section class="loginNuevoUsuario">
       
          <div class="loginNuevoUsuario_container">
        
            <div class="nuevaCuenta_contenido">
                  
              <div class="tituloNuevaCuenta"> 
              <i class="fas fa-magic"></i>
              <h3 id="h3CrearCuenta">Crear Cuenta</h3>
              </div> 
              
              <div class="cuestionarioNuevaCuenta">
               
              <!--   <% if (locals.errors) { %>
                  <% for( let oneError in errors ) { %>
                     <p><%= errors[oneError].msg %></p>
                  <% } %>
                  
              <% } %> -->
                <form id="formDatosPersonales" action="/" method="post">
                   
                    <div class="datosPersonalesCuestionario">

                    
                    
                      <p><strong>Ingrese sus datos personales:</strong></p><br> 
      
                        <label for="nombre">Nombre: *</label><br>
                        <input type="text" name="first_name" id="first_name" placeholder="Ej.: Juan" value= "<%= locals.oldData ? oldData.first_name : null %>">
                        
                        <% if (locals.errors && errors.first_name) { %>
                           <div class="text-danger">
                             <%= errors.first_name.msg %>
                           </div>
                        <% } %>

                      <br>

                        <label for="apellido">Apellido: *</label><br>
                        <input type="text" name="last_name" id="last_name" placeholder="Ej.: Gomez" value= "<%= locals.oldData ? oldData.last_name : null %>">
                        
                        <% if (locals.errors && errors.last_name) { %>
                          <div class="text-danger">
                            <%= errors.last_name.msg %>
                          </div>
                       <% } %>

                      <br>

                        <label for="dni">Dni: </label><br>
                        <input type="text" name="dni" id="dni" placeholder="31925981">
                  
                    </div>
             
                    <div class="informacionPassword">

                      <p><strong>Informacion de inicio de sesion:</strong></p><br>

                      

                      <label for="email">Email: *</label><br>
                        <input type="email" name="email" id="email" placeholder="Ej.: Juan@mail.com" value= "<%= locals.oldData ? oldData.email : null %>">
                        
                        <% if (locals.errors && errors.email) { %>
                          <div class="text-danger">
                            <%= errors.email.msg %>
                          </div>
                       <% } %>  

                       <br>

                        <label for="password">Password: *</label><br>
                        <input type="password" name="password" id="password" placeholder="Ingrese password" value= "<%= locals.oldData ? oldData.password : null %>">
                         
                        <% if (locals.errors && errors.password) { %>
                          <div class="text-danger">
                            <%= errors.password.msg %>
                          </div>
                       <% } %> 

                       <!--  <label for="password">Confirmacion Password: *</label><br>
                        <input type="password" name="password" id="passwordcuenta" placeholder="Confirme su password"> -->

                        <p>Seleccione Categoría:</p> <br>
                        
                        <label for="role_id">Rol</label>
                        <select name="role_id">
                          <% for (let i = 0; i < rol.length; i++) { %>
                          <option value="<%= rol[i].id%>">
                              <%= rol[i].role%>
                          </option>  
                      
                          <% } %>
                        </select>


                    </div>

                   
                  
                    <button type="submit" id="botonNuevaCuenta">CREAR CUENTA</button>
              
                </form>

              </div>
       </section>     
       
       <section class="envios">
           
                <div class="containerEnvios">
                  <i class="fas fa-truck"></i>
                 <div id="truck"> 
                  <h5>Envios a todo el pais</h5><br>               
                  <p>Retirá en tienda sin cargo o elegí envío a domicilio gratis a partir de $1.199.</p>
                 </div>
      
                 
                  <i class="fas fa-exchange-alt"></i>
                 <div id="cambios"> 
                  <h5>Cambios y devoluciones</h5><br>                
                  <p>Realizá cambios sin cargo por un año.</p>
                 </div>
      
                 
                  <i class="fas fa-credit-card"></i>
                 <div id="credit">
                  <h5>Multiples medios de pago</h5><br>                
                  <p>Pagá con Visa, Amex y Master en 3 y 6 cuotas sin interés.</p>
                 </div>
      
              </div> 
                
              
              </section>


    </main>  
    <footer>

    </footer>
</body>
</html>