<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>

    <%- include('partials/header') %>

   
     <% product.forEach(product => { %>
          
        <h1><%= product.name %> </h1> 
        <h3><%= product.price %></h3>
        <h3><%= product.description %></h3>
        <img src="/img/<%= product.image %>" alt="">

      
         <% }) %>  


</body>
</html>